</main>

<footer>
    <div class="section">
        <div class="container">
            <ul>
                <li>
                    <a href="https://0x148.com">
                        {{ dict "name" "Blog" "image" "blog.png" | partial "image" }}
                    </a>
                </li>
                <li>
                    <a href="https://github.com/progamesigner">
                        {{ dict "name" "GitHub" "image" "github.png" | partial "image" }}
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/progamesigner">
                        {{ dict "name" "Twitter" "image" "twitter.png" | partial "image" }}
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/progamesigner">
                        {{ dict "name" "LinkedIn" "image" "linkedin.png" | partial "image" }}
                    </a>
                </li>
                <li>
                    <a href="mailto:progamesigner@outlook.com">
                        {{ dict "name" "Hire Me" "image" "email.png" | partial "image" }}
                    </a>
                </li>
            </ul>
        </div>

        <p>&copy; {{ now.Format "2006" }} <a href="{{ .Site.Home.Permalink }}">{{ .Site.Copyright }}</a>. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
